.git/*
archive/*
intermediate/*
backup/*


10m_cultural/*   
110m_physical/*  
archive/*     
geojson/*       
live/*      
packages/* 
x_tempshape/*
10m_physical/*   
50m_cultural/*   
housekeeping/*  
live_ne/*  
updates/*              
zip/*
110m_cultural/*  
50m_physical/*   
tools/*      
zips/*

